@charset "utf-8";

/* RESET CSS */
* { margin:0; padding:0; outline:0; vertical-align:top; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video { max-width:100%; border:0; vertical-align:top; }
a {vertical-align:top; text-decoration:none; color:#000; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
body, th, td, input, select, textarea { color:#444; font-family:'Malgun Gothic','돋움',dotum, sans-serif; font-size:14px; line-height:1.8em;}
button { cursor:pointer; font-family: 'Noto Sans', sans-serif; }
html, body { margin:0; padding:0; width: 100%; height:100%; background-color: #fff;
font-family: 'Noto Sans','Malgun Gothic','돋움',dotum, sans-serif;}
ul, li {margin:0; padding:0; }


/* ///// LAYOUT ///// */
.mapWrap {
	height: 100%;
	background-color: #eee;
}

/* NAV */
.nav {
	position: absolute;
	float: left;
	width: 65px;
	height: 100%;
	background-color: #393946;
	z-index: 9999;
}
.nav li {
	margin-left: 3px;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	/* 	text-indent: -999em; */
	border: none;
	cursor: pointer;
	border-top: 1px solid #484854;
	border-bottom: 1px solid #27272f;
}
.nav li.on {
	color: #67aef7 !important;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
}
.nav li.issue > span {
	display: inline-block;
	min-width: 20px;
	height: 20px;
	padding: 2px;
	cursor: pointer;
	text-align: center;	
	border-radius:5px;
	line-height: 1.5em;
	background-color: tomato;
}
nav li.issue > span * {
	vertical-align: middle;
	color: #fff;
}
.nav li.issue {
	background-position: 0 -50px;
}
.nav li.home {
	background-position: 0 -50px;
}
.nav li.regist {
	background-position: 0 -50px;
}
.nav li.search {
	background-position: 0 -50px;
}
.nav li.api {
	background-position: 0 -50px;
}
.nav li.tree {
	background-position: 0 -50px;
}
.nav li.chart {
	background-position: 0 -50px;
}
.nav li.log {
	background-position: 0 -50px;
}
.nav li.attribute {
	background-position: 0 -50px;
}
.nav li.config {
	background-position: 0 -50px;
}

/* ///// LAYER ///// */
.layer {
	display:none; 
	position: absolute;
	top:40%; 
	left:50%; 
	width:450px; 
	margin:-250px 0 0 -150px; 
	background: #fff;
	z-index: 100;
}
.layerHeader {
	position: relative;
	border-bottom: 1px dotted #0066cc;
	background-color: #fff;
}
.layerHeader > h2 {
	padding: 10px;
	color: #0066cc;
	font-size: 15px;
}
.layerContents > h4 {
	margin:0;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 600;
	background: url(/images/ko/homepage/bullet_h4.png) no-repeat left 50%;
}
.layerHeader > div {
	position: absolute;
	top: 7px;
	right: 3px; 
	width: 30px;
	height: 30px;
}
.layerHeader div > button {
	width: 30px;
	height: 30px;
	border: none;
	text-indent: -999em;
	background-image: url(/images/ko/homepage/ico.png);
	background-color: transparent;
	background-position: 1px -264px;
}
.layerHeader div > button:hover {
	border-radius: 15px;
	background-color: #eee;
}

/* CONTENTS */
.layerContents {
	padding: 10px;
	overflow: hidden;
}
.layerContents p.groupTitle {
	margin-bottom: 5px;
	padding: 0 10px;
	color: #2955a6;
	font-weight: bold;
}
.layerContents .group {
	margin-bottom: 20px;
	padding: 10px;
}
.layerContents .group li {
	display: inline-block;
	width: 30%;
	padding: 5px 0;
}
.layerContents table {
	width: 100%;
	margin-bottom: 20px;
	border-top: 2px solid #0066cc;
}
.layerContents table th {
	background-color: #eee;
	border-left: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
} 
.layerContents table td {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

/* 버튼 */
.btns {
	margin: 15px 0;
}
.btns > button {
	width: 100%;
	padding: 10px 0;
	border-radius: 3px;
	transition: all 0.5s;
	border: none;
	color: #fff;
	background: #2955a6;
}
.btns > button:hover {
	background: tomato;
}

button.btn {
	padding: 5px 7px;
	border-radius: 3px;
	transition: all 0.5s;
	border: none;
	color: #fff;
	background: #2955a6;
}
button.btn:hover {
	background: tomato;
}
button.btn.on {
	background: tomato;
}


/*Nav Contents 추가 0807 */
.navContents {
	display:none;
	position: absolute;
	float: left;
	width: 442px;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	z-index: 100;
}

.alignRight {
	text-align: right;
}
.navClose {
	width: 27px;
	height: 27px;
	text-indent: -999em;
	border: none;
	background: url(/images/ko/homepage/ico.png) no-repeat -90px -265px;
}

.menuList {
	display:none;
}
.searchWrap {
	display:none; 
}
.apiWrap {
	display:none; 
}
.insertIssueWrap {
	display:none; 
}
.treeWrap {
	display:none;
}
.chartWrap {
	display:none;
}
.logWrap {
	display:none;
}
.attributeWrap {
	display:none;
}
.configWrap {
	display:none; 
}

/* Home */
.navContents ul.menuList {
	margin: 10px 15px 0px 80px;
}
.menuList > li {
	position: relative;
	padding: 10px 10px 10px 15px;
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
}
.menuList li:hover {
	background-color: #ffffe0;	
}
.menuList > li > ul > li {
	padding-left: 25px;
}

/* issue */
.issueList > li {
	position: relative;
	padding: 5px 10px 0px 75px;
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
}
.issueList li:hover {
	background-color: #ffffe0;	
}
.issueList li div.info {
	margin-left: 10px;
}
.issueList li div.info p.title span {
	display: block;
	font-weight: bold;
}
.issueList li div.info p.title {
	margin-bottom: 10px;
	line-height: 1.3em;
}
.issueList li div.info ul.tag {
	margin-top: 5px;
}
.issueList li div.info ul.tag li {
	display: inline-block;
}
.issueList li div.info ul.tag li *{
	vertical-align: middle;
}
.issueList li div.info ul.tag li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: -3px 5px 0 0;
	border-radius: 5px;
}
.issueList li div.info ul.tag li.date {
	position: absolute;
	right: 10px;
	font-size: 12px;
	color: #888;
}
.issueList li > button {
	float: right;
	width: 47px;
	height: 40px;
	margin-top: 5px;
	text-indent: -999em;
	border: none;
	background-image: url(/images/ko/homepage/ico.png);
	background-repeat: no-repeat;
	background-position: 10px -468px;
	background-color: transparent;
}

/* TAG > Issue */
.i1 {
	background-color: #ff3300;
}
.i2 {
	background-color: darkorange;
}
.i3 {
	background-color: darkturquoise;
}
.i4 {
	background-color: deepskyblue;
}
/* TAG > Type */
.t1 {
	background-color: #777;
}
.t2 {
	background-color: #777;
}
.t3 {
	background-color: #777;
}
.t4 {
	background-color: #777;
}

/* Search */
.navContents div.searchWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.searchWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.searchWrap > div {
	padding-bottom: 7px;
/* 	border-bottom: 1px dotted #888; */
}
.searchWrap > div:last-child {
	border-bottom: none;
}
.searchWrap div label {
	display: inline-block;
	margin-right: 10px;
}
.searchList > li {
	position: relative;
	padding: 5px 10px 0px 0px;
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
}
.searchList li:hover {
	background-color: #ffffe0;	
}
.searchList li div.info {
	margin-left: 10px;
}
.searchList li div.info p.title span {
	display: block;
	font-weight: bold;
}
.searchList li div.info p.title {
	margin-bottom: 10px;
	line-height: 1.3em;
}
.searchList li div.info ul.tag {
	margin-top: 5px;
}
.searchList li div.info ul.tag li {
	display: inline-block;
}
.searchList li div.info ul.tag li *{
	vertical-align: middle;
}
.searchList li div.info ul.tag li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: -3px 5px 0 0;
	border-radius: 5px;
}
.searchList li div.info ul.tag li.date {
	position: absolute;
	right: 10px;
	font-size: 12px;
	color: #888;
}
.searchList li > button {
	float: right;
	width: 47px;
	height: 40px;
	margin-top: 5px;
	text-indent: -999em;
	border: none;
	background-image: url(/images/ko/homepage/ico.png);
	background-repeat: no-repeat;
	background-position: 10px -468px;
	background-color: transparent;
}


/* API */
.navContents div.apiWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.apiWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.apiLoca > li {
	margin-bottom: 5px;
}
.apiLoca > li label {
	display: inline-block;
	width: 70px;
}
.full {
	width: 100%;
}
.apiWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.apiWrap > div:last-child {
	border-bottom: none;
}
.apiWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* ISSUE 등록 */
.navContents div.insertIssueWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.insertIssueWrap h3 {
	margin: 5px 0;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.insertIssueWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.insertIssueWrap > div:last-child {
	border-bottom: none;
}
.insertIssueWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* tree */
.navContents div.treeWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.treeWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.treeWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.treeWrap > div:last-child {
	border-bottom: none;
}
.treeWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* chart */
.navContents div.chartWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.chartWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.chartWrap > div {
	padding-bottom: 7px;
	//border-bottom: 1px dotted #888;
}
.chartWrap > div:last-child {
	border-bottom: none;
}
.chartWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* log */
.navContents div.logWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.logWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.logWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.logWrap > div:last-child {
	border-bottom: none;
}
.logWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* attribute */
.navContents div.attributeWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.attributeWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.attributeWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.attributeWrap > div:last-child {
	border-bottom: none;
}
.attributeWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* 설정 */
.navContents div.configWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.configWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.configWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.configWrap > div:last-child {
	border-bottom: none;
}
.configWrap div label {
	display: inline-block;
	margin-right: 10px;
}

/* 바로가기 */
.shortcut {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: table;
	margin: 0 auto;
	border-radius: 0 0 10px 10px;
	background-color: tomato;
	z-index: 90;
}
.shortcut > li {
	display: inline-block;
	margin: 3px;
	padding: 3px 10px;
	color: #fff;
	cursor: pointer;
	list-style-position: inside;
	list-style-type: disc;
}
.shortcut > li:hover {
	color: #ff5b59;
	border-radius: 15px;
	background-color: #fff;
}




.select {
	min-width: 30px;
	height: 30px;
	padding-left: 10px;
	font-size: 14px;
	color: #666;
	border: 1px solid #666;
	border-radius: 3px;
}

.color-warning {
	background: rgba(0, 0, 0, 0) url("/images/ko/common/bg_point.png") no-repeat scroll center center;
    display: inline-block;
    height: 4px;
    margin: 0 5px;
    text-indent: -99999px;
    vertical-align: middle;
    width: 6px;
}

/*
	css-only-tooltip version 1.0.0
	ⓒ 2015 AHN JAE-HA http://github.com/eu81273
	MIT License
*/
[data-tooltip-text]:hover {
	position: relative;
}
[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  	color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 240px;
	max-width: 250px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
	top: 90%;
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	top: 50%;
	left: 70px;
	opacity: 1;
}


#geo_ambient_reflection_coef_view {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}
#geo_diffuse_reflection_coef_view {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}
#geo_specular_reflection_coef_view {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

#objectLabel {
	background-color: transparent;  /* needed because webgl-tutoraisl.css sets canvas bg color to white */
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	pointer-events:none;
}

.dataShortcut {
	float: right;
	width: 47px;
	height: 25px;
	margin-top: 5px;
	text-indent: -999em;
	border: none;
	background-image: url(/images/ko/homepage/ico.png);
	background-repeat: no-repeat;
	background-position: 10px -468px;
	background-color: transparent;
}

/* List Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-table {
	border: 1px solid #d9d9d9; }

.list-table th {
//	font-size: 1.3rem;
//	font-weight: normal;
	color: #000;
	border: 1px solid #d9d9d9;
//	border-top: 2px solid #3b095e;
	background-color: #f5f5f5;
//	height: 25px;
	padding-left: 10px;
	padding-right: 10px; }

.list-table td {
//	font-size: 1.3rem;
	border: 1px solid #d9d9d9;
//	height: 23px;
	padding-left: 10px;
	padding-right: 10px; }

.list-table tr:last-child td {
//	border-bottom-width: 2px; }

.list-header {
	margin-bottom: 10px; }

.list-table a {
	text-decoration: underline; }