@charset "utf-8";

/* Typo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	font-size: 62.5%; }
	
body {
	font-size: 1.3em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400; /* Regular 300~500, Bold 600~700, Extra Bold 800~900 */
	font-family: 'Nanum Gothic', sans-serif;
	color: #888; }
	
p {
	margin: 0; }
	
input, select, textarea, button,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.3rem;
	color: #7d7d7d; }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 700;
	color: #34373d; }
	
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

a {
	color: inherit;
	text-decoration: none; }

a:hover {
	color: #573592; }
	
a img {
	border: 0; }

em {
	color: #573592;
	font-style: normal;
	font-weight: bold; }
	
.page-title {
	font-size: 2.5rem;
	line-height: 1.9; }

.page-title:before {
	content: '';
	display: block;
	width: 59px;
	height: 5px;
	background-color: #573592; }
	
.content-title {
	font-size: 1.9rem;
	color: #727579; }
	
.table-title {
	font-size: 1.5rem; }
	
.widget-title {
	font-size: 1.5rem;
	font-weight: 400; }
	
.content-desc {
	font-size: 1.2rem;
	color: #a0a0a0; }
	
.content-desc .icon-glyph {
	font-size: 1.6rem;
	padding-right: 2px; }
	
.table-desc {
	color: #a0a0a0;
	font-size: 90%; }

.widget-desc {
	color: #515151;
	font-size: 80%; }
	
.widget-desc:before {
	content: ' ';
	padding: 0 5px; }
	
	
	
/* jQuery UI Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 2px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 2px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 2px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 2px;
}

/* Interaction states */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    font-weight: normal;
    color: #7d7d7d; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #7d7d7d;
    text-decoration: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    font-weight: normal;
    color: #7d7d7d; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #7d7d7d;
    text-decoration: none;
}

.ui-state-active {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important; }



/* Icon
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
	display: table;
	height: 80px;
	width: 100%;
	border: 1px solid #e1e6ef;
	box-sizing: border-box; }
	
.banner > div {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center; }

.banner > div:first-child {
	width: 32%;
	color: #fff; }
	
.banner > div:last-child {
	width: 68%; }
	
.banner-title {
	color: #6a6a6a;
	font-size: 1.2rem;
	line-height: 3.3rem;
	vertical-align: middle;
	padding-right: 5px; }
	
.banner-number {
	color: #513767;
	font-size: 3.3rem;
	line-height: 3.3rem;
	vertical-align: middle; }
	
.banner-unit {
	color: #513767;
	font-size: 2.4rem;
	line-height: 3.3rem;
	vertical-align: middle; }
	
.banner.otp-generates > div:first-child {
	background-color: #36a9e1; }
	 
.banner.otp-success > div:first-child {
	background-color: #bdea74; }
	 
.banner.otp-failures > div:first-child {
	background-color: #ff5454; }



/* OTP device
–––––––––––––––––––––––––––––––––––––––––––––––––– */	
.otp-device {
	border: 3px solid #fff;
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
			border-radius: 30px;
	width: 80px;
	height: 30px;
	margin: 0 auto;
	text-align: left;
	vertical-align: middle; }
	
.otp-device .icon-glyph {
	font-size: 2.4rem;
	line-height: 30px;
	padding-left: 3px; }
	
.otp-device .otp-numbers { 
	position: relative; }

.otp-device .otp-numbers:after {
	content: '012345';
	padding: 0 2px;
	font-size: .9rem;
	position: absolute;
	left: 0;
	top: -9px;
	z-index: 1;
	border: 2px solid #fff;
	display: block; }
	
	
	
/* Badge
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.badge {
	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
			border-radius: 16px;
	height: 16px;
	box-sizing: border-box;
	padding: 1px 5px 3px 3px;
	color: #fff; }
	
.badge .icon-text {
	font-size: 70%; }
	
.badge.otp-generates {
	background-color: #36a9e1; }
	
.badge.otp-failures {
	background-color: #ea6576; }
	
.badge.otp-success {
	background-color: #adde5e; }
	
	
	
/* Status bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.status-bar {
	position: relative;
	outline: none;
	width: 100px; }
	
.status-bar span {
	display: block;
	position: absolute; }

.status-bar .bar {
	height: 10px;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #e8edf1;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
	z-index: 1; }

.status-bar .status-on,
.status-bar .status-off {
	width: 50px;
	height: 20px;
	box-sizing: border-box;
	padding-top: 2px;
	color: #fff;
	font-size: 80%;
	text-align: center;
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
			border-radius: 30px;
	z-index: 2; }
	
.status-bar .status-on {
	background-color: #349c5f;
	right: 0; }
	
.status-bar .status-off {
	background-color: #ea6576; }
  
input.toggle-button:checked + label:before {
	background-color: #9059ed; }
  
input.toggle-button:checked + label:after {
	margin-left: 30px; }


/* Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index {
	display: inline-block;
	position: relative;
	background-color: #573592;
	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
			border-radius: 16px;
	height: 16px;
	line-height: 16px;
	width: 16px;
	color: #fff;
	vertical-align: middle;
	margin-right: 5px; }
	
.index:after {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 90%; }

table tr:nth-of-type(1) .index:after { content: '1'; }
table tr:nth-of-type(2) .index:after { content: '2'; }
table tr:nth-of-type(3) .index:after { content: '3'; }
table tr:nth-of-type(4) .index:after { content: '4'; }
table tr:nth-of-type(5) .index:after { content: '5'; }
table tr:nth-of-type(6) .index:after { content: '6'; }
table tr:nth-of-type(7) .index:after { content: '7'; }
table tr:nth-of-type(8) .index:after { content: '8'; }
table tr:nth-of-type(9) .index:after { content: '9'; }
table tr:nth-of-type(10) .index:after { content: '10'; }
	


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Simple button */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.ui-dialog .ui-dialog-buttonpane button {
	display: inline-block;
	font-size: 1.2rem;
	height: 30px;
	padding: 6px 10px;
	box-sizing: border-box;
	margin: 0;
	text-align: center;
	color: #fff;
	background: #727272;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	border: 1px solid #636363;
	cursor: pointer; }
	
.ui-dialog .ui-dialog-buttonpane button .ui-button-text {
	padding: 0; }
	
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.ui-dialog .ui-dialog-buttonpane button:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.ui-dialog .ui-dialog-buttonpane button:focus {
	background-color: #636363;
	outline: 0; }

a.button {
	line-height: 28px;
	padding: 0px 10px;
	color: #fff; }

a.button:hover {
	color: #fff; }

.button-group .button,
.button-group button,
.button-group input[type="submit"],
.button-group input[type="reset"],
.button-group input[type="button"] {
	margin-right: 5px !important; }

.button-group.u-pull-left .button,
.button-group.u-pull-left button,
.button-group.u-pull-left input[type="submit"],
.button-group.u-pull-left input[type="reset"],
.button-group.u-pull-left input[type="button"] {
	margin-left: 0 !important;
	margin-right: 5px !important; }
	
.button-group.u-pull-right .button,
.button-group.u-pull-right button,
.button-group.u-pull-right input[type="submit"],
.button-group.u-pull-right input[type="reset"],
.button-group.u-pull-right input[type="button"] {
	margin-left: 5px !important;
	margin-right: 0 !important; }
	
.page-content > .button-group,
form > .button-group {
	margin: 30px 0; }
	
.button-group .center-buttons {
	text-align: center; }
	
.button-group .center-buttons a.button,
.button-group .center-buttons button,
.button-group .center-buttons input[type="submit"],
.button-group .center-buttons input[type="reset"],
.button-group .center-buttons input[type="button"] {
	display: inline-block !important;
	float: none !important; }

.button .icon-glyph,
button .icon-glyph,
.ui-dialog .ui-dialog-buttonpane button .icon-glyph,
.button .icon-text,
button .icon-text,
.ui-dialog .ui-dialog-buttonpane button .icon-text {
	color: #fff; }
	
/*	Image button */
.image-button {
	display: inline-block;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	background: url(/images/ko/icon/image/image.png) no-repeat 0 0; }
	
.image-button.button-area {
	border: 1px solid #e1e1e1;
	background-color: #f2f2f2;
	margin: 0 1px; }
	
.image-button.button-area:hover,
.image-button.button-area:focus {
	background-color: #ededed; }
	
.button-new {}
	
.button-batch-upload {
	background-position: -30px 0; }

.button-batch-download {
	background-position: -60px 0; }
	
.button-edit {
	background-position: -90px 0; }
	
.button-delete {
	background-position: -120px 0; }
	
/* Toggle button */
.toggle-button {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden; }

input.toggle-button + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none; }

input.toggle-button + label:before, input.toggle-button + label:after {
	display: block;
	position: absolute;
	content:''; }

input.toggle-button + label:before {
	height: 20px;
	width: 58px;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 1px solid #ddd;
	background-color: #f1f1f1;
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
			border-radius: 30px;
	-webkit-transition: background 0.2s;
	   -moz-transition: background 0.2s;
		 -o-transition: background 0.2s;
			transition: background 0.2s; }

input.toggle-button + label:after {
	width: 28px;
	height: 28px;
	background-color: #fff;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
			border-radius: 100%;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transition: margin 0.2s;
	   -moz-transition: margin 0.2s;
		 -o-transition: margin 0.2s;
			transition: margin 0.2s;
	font-family: 'glyphicon' !important;
	text-align: center;
	vertical-align: text-bottom;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased; }
  
input.toggle-button:checked + label:before {
	background-color: #9059ed; }
  
input.toggle-button:checked + label:after {
	margin-left: 30px; }
	
input.toggle-button + label.lock:after {
	content: "\e95c"; }
  
input.toggle-button:checked + label.lock:after {
	content: "\e929"; }	
	
.button-title {
	display: block;
	float: left;
	margin-right: 5px;
	height: 30px;
	line-height: 30px;
	vertical-align: text-bottom; }
	
.button-group .switch {
	float: left;
	margin-right: 10px; }
	
.button-group .switch:last-of-type {
	margin-right: 20px; }


/* Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Removes awkward default styles on some inputs for iOS */
input[type=search],
input[type=password],
input[type=text],
input[type=file],
textarea {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none; }
			
input[type=search],
input[type=password],
input[type=text],
input[type=file],
textarea {
	margin: 0;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #f7f7f7;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
  	box-shadow: none;
	box-sizing: border-box; }
	
input[type=search] {
	padding-left: 0;
	padding-right: 0; }
	
input[type=search],
input[type=password],
input[type=text],
input[type=file] {
	min-width: 70px;
	height: 30px; }
	
textarea {
	min-width: 100%;
	min-height: 150px; }

textarea.reply {
	min-height: 60px; }

input[type=search]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=file]:focus,
textarea:focus {
	background-color: #fff;
	outline: 0; }
	
input[readonly=readonly],
textarea[readonly=readonly],
input[disabled=disabled],
textarea[disabled=disabled] {
	color: #444;
	background-color: #ececec; }
	
label {
	padding: 0 5px;
	min-width: 50px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	color: #666; }

.xs {
	width: 70px; }

.s {
	width: 100px; }

.m {
	width: 160px; }
.ml {
	width: 280px; }	
.l {
	width: 400px; }
	
.xl {
	width: 700px; }

.h20 {
	height: 20px; }
.h30 {
	height: 30px; }		
.h40 {
	height: 40px; }	
	
.input-set {
	margin: 10px 20px 10px 10px;
	float: left; } 
	
.input-set input,
.input-set a.button,
.input-set button,
.input-set label,
.input-set .delimeter,
.input-set .content-desc,
.input-set .icon-glyph,
.input-set span {
	display: block;
	float: left; }
	
.block-set {
	float: none; }
	
.input-set input + .button,
.input-set input + button,
.input-set input + input[type=submit],
.input-set input + input[type=button],
.input-set input + input[type=reset] {
	margin-left: 10px; }

.radio-set input[type=radio],
.checkbox-set input[type=checkbox] {
	margin: 9px 0 8px 5px; }
	
.input-set .delimeter {
	width: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: text-bottom; }
	
.input-set .delimeter.at + input {
	margin-right: 10px; }
	
select + .ui-selectmenu-button + select + .ui-selectmenu-button  {
	margin-left: 10px; }
	
select + .ui-selectmenu-button + input {
	margin-left: 10px; }

/* Selectmenu */
.ui-selectmenu-button {
	display: block;
	float: left;
	height: 30px;
	min-width: 160px;
	box-sizing: border-box; }
	
.ui-selectmenu-button span.ui-icon {
    top: 0;
    right: 0;
    width: 17px;
    height: 23px;
    line-height: 23px !important;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 6px;
    border-left: 1px solid #e0e0e0; }

.ui-selectmenu-button span.ui-icon {
    background-image: none;
	text-indent: 0; }

.ui-selectmenu-button span.ui-icon:after {
    content: '\e955';
	font-family: 'glyphicon' !important;
	line-height: 23px !important;
	color: #31363e;
	font-size: 1.2rem;
	cursor: pointer; }
	
.ui-selectmenu-menu .ui-state-focus {
	border: 1px solid #cfcfcf;
    background-color: #e0dfdf;
    font-weight: normal;
    color: #525252; }
    
/* Datepicker */
.ui-datepicker {
	width: 220px;
	padding: 0;
	box-sizing: border-box; }
	
.ui-datepicker.ui-widget-content {
	border: 1px solid #d5d5d5; }
			
.ui-datepicker.ui-corner-all,
.ui-datepicker .ui-corner-all {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0; }

.ui-datepicker .ui-datepicker-header {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
	background-color: #929292; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
    width: 30px;
    height: 30px;
    background: none;
    cursor: pointer;  }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	background: none;
	border: 0; }

.ui-datepicker .ui-datepicker-prev {
    left: 0;
    top: 0; }

.ui-datepicker .ui-datepicker-next {
    right: 0;
    top: 0; }

.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
    top: 0; }

.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
    top: 0; }

.ui-datepicker span.ui-icon {
    background-image: none;
    text-indent: 0; }
    
.ui-datepicker span.ui-icon:after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'glyphicon' !important;
	line-height: 1;
	text-align: center;
	font-weight: normal;
	color: #fff;
	font-size: 1.8rem; }

.ui-datepicker .ui-datepicker-prev span.ui-icon:after {
    content: '\e941'; }
    
.ui-datepicker .ui-datepicker-next span.ui-icon:after {
	content: '\e932'; }
	
.ui-datepicker .ui-datepicker-title {
	color: #fff;
	font-size: 1.4rem;
	line-height: 30px;
	height: 30px;
	vertical-align: text-bottom; }
	
.ui-datepicker table {
    margin: 0;
    border-collapse: collapse; }

.ui-datepicker th {
    border: 0;
    padding: 5px 2px;
    height: auto;
    font-weight: normal;
    font-size: 90%;
    background: none; }

.ui-datepicker td {
    border: 0;
    padding: 2px;
    height: auto; }

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 90%; }
    
.ui-datepicker td .ui-state-default {
	border: 0;
	background: 0; }
	
.ui-datepicker td .ui-state-hover,
.ui-datepicker td .ui-state-focus {
	border: 0;
    background-color: #f7f7f7;
    color: #7d7d7d; }
    
.ui-datepicker td.ui-datepicker-today .ui-state-default {
	background-color: #573592;
	color: #fff; }


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column {
	float: left;
	box-sizing: border-box;
	margin-left: 1%; }

.column:first-child {
	margin-left: 0; }

.one-third.column	{ width: 32.6666666667%; }
.two-third.column	{ width: 66.3333333333%; }
.one-half.column	{ width: 49.5%; }
.full.column		{ width: 100%; margin-left: 0; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
.on {
	color: #06b20e !important; }
.off {
	color: #bf3000 !important; }
.color-cyan {
	color: #0ab8b8 !important; }
/* .color-warning {
	color: #e25264; } */
.color-warning {
	background: rgba(0, 0, 0, 0) url("/images/ko/common/bg_point.png") no-repeat scroll center center;
    display: inline-block;
    height: 4px;
    margin: 0 5px;
    text-indent: -99999px;
    vertical-align: -6px;
    width: 6px;
}	
.color-area-em {
	background-color: #573592;
	border-color: #54338c; }
.color-area-em:hover,
.color-area-em:focus {
	background-color: #633da6; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }
  
ol, ul, dl, li, dt, dd {
	margin: 0;
	padding: 0; }
ul {
	list-style: disc inside; }
ol {
	list-style: decimal inside; }
dl {
	list-style: disc inside; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.u-cf:after {
  content: "";
  display: table;
  clear: both; }


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* aside */
.site-aside-menu li {
	list-style: none;
	float: left;
	color: #727171;
	font-size: 12px;
	line-height: 1;
	border-right: 1px solid #727171;
	padding-left: 13px;
	padding-right: 13px; }
	
.site-aside-menu li:last-child {
	border-right: 0;
	padding-right: 0; }

.site-aside-menu li .topactive{
	vertical-align: top;
	font-weight:bold;
}

.site-aside-menu li .topip{
	vertical-align: top;
	font-weight:normal;
}

.site-aside-menu li .standby{
	vertical-align: top;
	font-weight:bold;
}

.site-aside-menu li .standby img{
	vertical-align: top;
	margin:-1px 0 0 2px;
}

/* global */
.site-navigation .main-menu li {
	list-style: none;
	float: left;
	color: #747474;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	border-right: 1px solid #b9b9b9;
	margin: 3rem 0;
	/*padding: 0 3rem;*/
	width: 150px;
	text-align: center; }
	
.site-navigation .main-menu li:last-child {
	border-right: 0; }
	
.site-navigation .main-menu li a {
	position: relative; }

.site-navigation .main-menu li a:hover:after,
.site-navigation .main-menu li.current-page a:after {
	position: absolute;
	content: '';
	display: block;
	height: 4px;
	width: 100%;
	left: 0;
	bottom: -12px;
	background-color: #573592; }

.site-navigation .main-menu li a:hover,	
.site-navigation .main-menu li.current-page a {
	color: #573592; }
	
.site-navigation .main-menu li .icon {
	font-size: 120%; }
	
.site-navigation {
	position: relative; }
	
.site-navigation .main-menu .container > ul > li > ul {
	display: none; }

.site-navigation .sub-menu {
	position: absolute;
	z-index: 10;
	display: none;
	top: 54px;
	width: 100%;
	background-color: #f6f6f6;
	border-top: 4px solid #573592;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
					box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
	background-color: #fff; }

.site-navigation .sub-menu ul {
	position: absolute;
	list-style: none;
	z-index: 100;
	width: 150px;
	box-sizing: border-box;
	padding: 2.3rem 2rem;
	border-right: 1px solid #d9d9d9; }
	
.site-navigation .sub-menu ul:first-child {
	border-left: 1px solid #d9d9d9; }
	
.site-navigation .sub-menu ul:hover {
	background-color: #fafafa; }
	
.site-navigation .sub-menu li {
	margin-bottom: .8rem;
	font-size: 1.2rem;
	color: #4d4d4d;
	position: relative;
	padding-left: 1rem; }
	
.site-navigation .sub-menu li:before {
	content: '\b7\a0';
	display: inline-block;
	position: absolute;
	left: 0; }
	
.site-navigation .sub-menu li.current-page {
	color: #573592; }

/* local */
.local-navigation {
	width: 190px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box; }

.local-navigation .nav-header {
	padding: 30px 17px 22px 17px;
	background-color: #573592;
	position: relative; }
	
.local-navigation .nav-title .ko {
	color: #fff;
	font-size: 2.6rem; }
	
.local-navigation .nav-title .en {
	color: #d9c3ff;
	font-size: 1.9rem;
	font-weight: 300;
	display: block; }
	
.local-navigation ul {
	border: 1px solid #5c1acc;
	border-top: 0;
	padding: 0 9px; }
	
.local-navigation ul li {
	border-bottom: 1px solid #cfcfcf;
	color: #34373d;
	font-size: 1.5rem;
	padding: 16px 9px; }
	
.local-navigation ul li:last-child {
	border-bottom: 0; }
	
.local-navigation ul li.current-page {
	color: #6132b3; }

.local-navigation .service-status {
	position: absolute;
	background-color: #f0efef;
	-webkit-border-top-left-radius:		5px;
	-webkit-border-top-right-radius:	5px;
	   -moz-border-radius-topleft:		5px;
	   -moz-border-radius-topright: 	5px;
			border-top-left-radius: 	5px;
			border-top-right-radius:	5px;
	width: 190px;
	height: 30px;
	left: -5px;
	top: 7px;
	text-align: center;
	font-size: 1.1rem;
	line-height: 30px;
	color: #4a4a4a;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.8);
	   -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.8);
			box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.8);
	clip: rect(0px, 190px, 42px, 0px); }
			
.status-shade .left-side,
.status-shade .right-side {
	position: absolute;
	background-color: #f0efef;
	width: 5px;
	height: 10px;
	bottom: -5px; }

.status-shade .left-side {
	left: 0; }
	
.status-shade .right-side {
	right: 0; }
	
.status-shade .left-side:after ,
.status-shade .right-side:after {
	content: '';
	background-color: #dadada;
	width: 5px;
	height: 10px;
	position: absolute;
	bottom: -5px; }
	
.status-shade .left-side:after {
	-webkit-border-top-left-radius:		5px;
	-webkit-border-bottom-left-radius:	5px;
	   -moz-border-radius-topleft:		5px;
	   -moz-border-radius-bottomleft:	5px;
			border-top-left-radius:		5px;
			border-bottom-left-radius:	5px;
	left: 0; }
	
.status-shade .right-side:after {
	-webkit-border-top-right-radius:	5px;
	-webkit-border-bottom-right-radius:	5px;
	   -moz-border-radius-topright:		5px;
	   -moz-border-radius-bottomright:	5px;
			border-top-right-radius:	5px;
			border-bottom-right-radius:	5px;
	right: 0; }

.status-normal:before,
.status-normal:after {
	content: "\e906";
	font-family: 'glyphicon' !important;
	line-height: 1;
	vertical-align: text-bottom;
	padding: 0 10px;
	color: #06b20e;
	font-size: 1.3rem; }
	
.status-abnormal:before,
.status-abnormal:after {
	content: "\e918";
	font-family: 'glyphicon' !important;
	line-height: 1;
	vertical-align: text-bottom;
	padding: 0 10px;
	color: #bf3000;
	font-size: 1.3rem; }

/* tab */
.ui-tabs,
.ui-tabs .ui-widget-header,
.ui-tabs .ui-tabs-panel,
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding:0;
	border: 0;
	background: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0; }

.ui-tabs .ui-tabs-nav {
	border-bottom: 3px solid #573592; }
	
.ui-tabs .ui-tabs-nav li {
	margin: 0;
	margin-right: 2px;
	padding: 0;
	border: 0;
	background-color: #b3b2b2; }
	
.ui-tabs .ui-tabs-nav li a {
	color: #fff; }
	
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #573592; }

/* breadcrumbs */
.breadcrumbs {
	color: #34373d;
	font-size: 1.2rem; }
	
.breadcrumbs .icon-glyph {
	color: #573592; }

/* pagination */
.pagination {
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
	height: 21px; }

.pagination a {
	padding: 2px 6px;
	border: 1px solid #dbdbdb;
	color: #34373d;
	font-size: 1.2rem;
	line-height: 18px;
	height: 18px; }

.pagination a:hover {
	background-color: #eee; }
	
.pagination a.current-page {
	background-color: #573592;
	border-color: #573592;
	color: #fff; }
	
.pagination .prev {
	margin-right: 10px; }
	
.pagination .next {
	margin-left: 10px; }

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base */
html, body {
	margin: 0;
	padding: 0; }
	
.container {
	width: 100%;
	max-width: 1920px;
	min-width: 1420px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box; }
	
.site-header, .site-navigation, .site-body, .site-footer {
  width: 100%;
  min-width: 1420px; }
	
/* header */
.site-header {
	padding-top: 13px; }
	
.site-navigation {
	border-bottom: 1px solid #e2e6ef; }

.home .site-navigation {
	border-bottom: 0; }
	
.site-aside-menu {
	padding: 24px 0 0 0; }
	
/* body */
.site-body {
	padding: 14px 0 21px 0; }

.home .site-body {
	background-color: #f2f4f8; }
	
.site-content {
	padding-left: 20px;
	padding-right: 20px; }

/* footer */
.site-footer {
	margin-top: 50px;
	padding: 18px 0;
	border-top: 1px solid #dcdcdc;
	text-align: center; }
	
.home .site-footer {
	margin-top: 0; }
	
.site-footer img {
	vertical-align: text-top;
	padding-right: 4px; }
	
/* page */
.local-navigation {
	float: left; }
	
.page-area {
	margin-left: 230px;
	overflow: hidden; }
/*	
.page-header {
	margin-bottom: 20px; }
*/
.page-header .breadcrumbs {
	padding-top: 27px; }
	
.content-header {
	padding-top: 15px;
	padding-bottom: 12px;
	border-bottom: 2px solid #3b095e;
	margin-bottom: 27px; }
	
.input-header,
.inner-header {
	padding-bottom: 5px;
	border-bottom: 2px solid #3b095e;
	margin-bottom: 0; }
	
.content-desc {
	padding-top: 5px; }

.filters {
	margin-bottom: 30px; }
	
.list + .pagination {
	margin-top: 40px;
	margin-bottom: 40px; }
	
table + .pagination {
	margin-top: 20px; }
	
.tabs {
	margin-top: 20px; }

.inner-table + .input-header {
	margin-top: 20px; }
	
.inner-table + .input-header + form {
	margin-bottom: 50px; }
	
.inner-header .content-title,
.input-header .content-title {
	margin-top: 20px; }
	
.inner-header .content-title + .content-desc,
.input-header .content-title + .content-desc {
	margin-top: 20px; }

.stats-widgets {
	margin-top: 30px; }
	
	
	
/* Sign
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sign .site-body {
	width: 670px;
	max-width: 670px;
	min-width: 670px;
	margin: 150px auto;
	padding: 0; }
	
.sign .container {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0; }
	
.sign .site-footer {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	position: fixed;
	bottom: 0; }	
	
.sign .panel {
	background-color: #9065dc;
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
					border-radius: 5px;
	color: #1f1f1f;
	box-sizing: border-box;
	text-align: center;
	display: table; }
	
.sign .panel a {
	color: #fff; }
	
.sign .panel a:hover {
	color: #d7caf1; }

.sign .panel .sign-desc {
	text-align: right;
	color: #fff; }
	
.sign .panel .sign-title {
	display: table-cell;
	vertical-align: middle;
	width: 285px;
	height: 310px; }
	
.sign .panel .sign-inputs {
	display: table-cell;
	width: 385px;
	height: 310px;
	padding: 10px;
	box-sizing: border-box; }
	
.sign .panel .text-sub {
	font-size: 30px;
	color: #ddd;
	line-height: 1; }

.sign .panel .text-main {
	font-size: 64px;
	color: #f2f2f2;
	line-height: 0.8; }
	
.sign .panel .sign-inputs form {
	margin: 30px 0; }

.sign .panel .sign-inputs input[type=text],
.sign .panel .sign-inputs input[type=password] {
	width: 87%;
	padding-left: 40px;
	background: none;
	border: 0;
	border-bottom: 1px solid #b598e8;
	color: #fff; }
	
.sign .panel .sign-inputs input[type=text] {
	margin-bottom: 15px; }
	
.sign .panel .sign-inputs input[type=password] {
	margin-bottom: 35px; }
	
.sign .panel .sign-inputs label {
	color: #fff;
	font-size: 25px;
	float: left;
	margin-bottom: -27px;
	margin-left: 10px; }
	
.sign .panel .sign-inputs input[type=submit] {
	width: 78%;
	background: #573592;
	border-color: #422379;
	color: #f3a4dd;
	height: 43px;
	vertical-align: middle; }
	
.sign .panel .sign-inputs input[type=submit]:hover {
	background: #5d399d;
	border-color: #492786; }




/* Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
	width: 100%;
	border-collapse: collapse; }
	
th, td {
	padding: 0;
	border: 0; }
	
tr:hover td {
	background-color: #fafafa; }

	

/* List Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-table {
	border: 1px solid #d9d9d9; }
	
.list-table th {
	font-size: 1.3rem;
	font-weight: normal;
	color: #000;
	border: 1px solid #d9d9d9;
	border-top: 2px solid #3b095e;
	background-color: #f5f5f5;
	height: 37px;
	padding-left: 10px;
	padding-right: 10px; }

.list-table td {
	font-size: 1.3rem;
	border: 1px solid #d9d9d9;
	height: 33px;
	padding-left: 10px;
	padding-right: 10px; }

.list-table tr:last-child td {
	border-bottom-width: 2px; }

.list-header {
	margin-bottom: 10px; }
	
.list-table a {
	text-decoration: underline; }
	
	
	
/* Input Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.input-table {
	border: 1px solid #d9d9d9; }

.input-table th label {	
	font-size: 1.3rem;
	color: #888;
	padding: 0;
	width: auto; }
	
.input-table th {
	font-size: 1.3rem;
	color: #888;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	height: 37px;
	line-height: 37px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px; }
	
.input-table td {
	color: #666; }
	
.input-table .col-label span:first-child {
	color: #888;
	font-size: 1.3rem; }

.input-table .col-sub-label span:first-child {
	color: #666;
	padding-left: 5px;
	padding-right: 5px; }

.input-table td {
	font-size: 1.3rem;
	border: 1px solid #d9d9d9;
	height: 37px;
	line-height: 37px;
	padding-left: 5px;
	padding-right: 5px; }
	
.input-table.scope-col th {
	padding-left: 10px;
	padding-right: 10px; }
	
.input-table.scope-col td {
	padding-left: 10px;
	padding-right: 10px; }
	
.input-table input,
.input-table a.button,
.input-table button,
.input-table label,
.input-table .delimeter,
.input-table .table-desc,
.input-table .icon-glyph,
.input-table span,
.input-table textarea {
	display: block;
	float: left; }
	
.input-table textarea {
	margin-top: 5px;
	margin-bottom: 5px; }
	
.input-table input[type=search],
.input-table input[type=password],
.input-table input[type=text],
.input-table textarea {
	background-color: #fff; }
	
.input-table input[readonly=readonly],
.input-table input[disabled=disabled] {
	background-color: #ececec; }
	
.input-table input[type=text] + .button,
.input-table input[type=text] + button,
.input-table input[type=text] + input[type=submit],
.input-table input[type=text] + input[type=button],
.input-table input[type=text] + input[type=reset],
.input-table input[type=text] + select + .ui-selectmenu-button,
.input-table input[type=text] + input,
.input-table input[type=text] + .table-desc {
	margin-left: 10px; }
	
.input-table input[type=password] + .button,
.input-table input[type=password] + button,
.input-table input[type=password] + input[type=submit],
.input-table input[type=password] + input[type=button],
.input-table input[type=password] + input[type=reset],
.input-table input[type=password] + select + .ui-selectmenu-button,
.input-table input[type=password] + input,
.input-table input[type=password] + .table-desc {
	margin-left: 10px; }
	
.input-table .delimeter {
	width: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: text-bottom; }
	
.input-table .delimeter.at + input {
	margin-right: 10px; }

.input-table input + .button-group input[type=button]:first-child {
	margin-left: 5px; }


.input-table th span,
.input-table input + span,
.input-table .icon-glyph,
.input-table .table-desc,
.input-table .delimeter,
.input-table .image-button {
	line-height: 30px;
	height: 30px; }
	
.input-table.scope-row .col-label .icon-glyph {
	float: right; }
	
.input-table.scope-col th .icon-glyph {
	float: left;
	margin-left: 10px; }
	
.input-table.scope-row .col-input .icon-glyph,
.input-table.scope-row .col-data .icon-glyph {
	line-height: 37px;
	height: 37px;
	padding-right: 5px; }
	
.input-table.scope-col .col-label .icon-glyph {
	float: left;
	margin-left: 10px; }
	
.input-table tr:hover td {
	background-color: #fff; }



	
/* Inner Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.inner-table {
	border: 1px solid #d9d9d9; }
	
.inner-table th {
	font-size: 1.3rem;
	color: #888;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	height: 37px;
	line-height: 37px;
	padding-left: 10px;
	padding-right: 10px; }

.inner-table td {
	font-size: 1.3rem;
	color: #888;
	border: 1px solid #d9d9d9;
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
	padding-right: 10px; }
	
.inner-table td p {
	line-height: 1.5; }
	
.inner-table td p:first-child {
	padding-top: 10px; }
	
.inner-table td p:last-child {
	padding-bottom: 10px; }	
	
.inner-table.scope-row th {
	padding-left: 20px;
	padding-right: 20px; }
	
.inner-table.scope-row td {
	padding-left: 10px;
	padding-right: 10px; }
	
.inner-table.scope-row .icon-glyph {
	float: right; }
	
.inner-table.scope-col .icon-glyph {
	float: left;
	margin-left: 10px; }
	
.inner-table .icon-glyph {
	line-height: 37px;
	height: 37px; }
	
.inner-table .button-group {
	padding: 2px 0;
	margin-left: -5px;
	margin-right: -5px; }



/* Table Cols
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scope-col td.col-checkbox,
.scope-col td.col-number,
.scope-col th.col-number,
.scope-col td.col-functions,
.scope-col th.col-functions,
.scope-col td.col-date,
.scope-col td.col-date-time,
.scope-col td.col-period,
.scope-col td.col-tel,
.scope-col td.col-toggle,
.scope-col td.col-status,
.scope-col td.col-type,
.scope-col td.col-ip,
.scope-col td.col-otp {
	text-align: center; }

.scope-col td.col-name,
.scope-col td.col-id,
.scope-col td.col-title,
.scope-col td.col-email,
.scope-col td.col-url,
.scope-col td.col-key,
.scope-col td.col-password,
.scope-col td.col-desc,
.scope-col td.col-input {
	text-align: left; }

.scope-col td.col-time,
.scope-col td.col-count,
.scope-col td.col-percentage,
.scope-col td.col-space {
	text-align: right;
	padding-right: 20px; }

/*	
.scope-col.inner-table th {
	text-align: center; }
*/

.long-desc {
	width: 150px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; }

.scope-col.input-table td.col-ip {
	text-align: left; }

.scope-row .col-label,
.scope-row .col-sub-label,
.scope-row .col-data,
.scope-row .col-input {
	text-align: left; }
	
.scope-row .col-label,
.scope-row .col-sub-label {
	width: 120px; }

.scope-row .col-label.m,
.scope-row .col-sub-label.m {
	width: 200px; }
	
.scope-row .col-label.l,
.scope-row .col-sub-label.l {
	width: 280px; }
	
.scope-row .col-label.xl,
.scope-row .col-sub-label.xl {
	width: 350px; }
	
.inner-data {
	line-height: 1.6;
	padding: 5px 0; }
	
.col-checkbox {
	width: 20px; }
	
.col-input.col-submit {
	width: 100px;
	text-align: center; }
	
.col-input.col-submit input[type=submit] {
	display: inline-block;
	float: none; }
	
.col-input .ml{
    margin-left:5px }
    
.input-table .pt{
    padding-top:5px }
    
.col-none {
	text-align: center; }

.col-left {
	text-align: left; }
	
.col-right {
	text-align: right; }
	
.col-center {
	text-align: center; }


/* Filter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
	border: 1px solid #d5d5d5;
	border-top-width: 5px;
	border-bottom-width: 2px;
	padding: 15px 20px; }
	

/* Widget
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.widgets {
	margin-left: 1%; }
	
.widgets .column {
	float: left;
	box-sizing: border-box;
	margin-left: 0.5%;
	margin-right: 0.5%; }

.widgets .one-third.column	{ width: 32%; }
.widgets .two-third.column	{ width: 65%; }
.widgets .full.column		{ width: 98%; }

.widget {
	background-color: #fff;
	border: 1px solid #e1e6ef;
	box-sizing: border-box;
	padding: 10px 12px;
	height: 270px;
	overflow: hidden;
	margin-bottom: 15px; }
	
.widget-low {
	height: 154px; }
	
.widget-header {
	height: 20px;
	padding: 2px 10px 7px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e0e0e0; }
	
.widget-functions .icon-glyph {
	color: #515151;
	font-size: 1.1rem;
	padding: 3px; }
	
.widget-content {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px; }
	
.widget-low .widget-content {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0; }

.stats-widgets .widget {
	height: 570px; }
	
.widget-content .banner-container {
	padding: 4px 15px; }

/* Widget table */
.widget-table td {
	border: 1px solid #e0e0e0;
	font-size: 1.1rem;
	height: 26px;
	line-height: 26px;
	padding-left: 5px; }
	
.widget-table td:first-child {
	border-left: 0; }
	
.widget-table td:last-child {
	border-right: 0; }
	
.widget-table tr:last-child td {
	border-bottom-width: 1px; }
	
.widget-table td em {
	color: #34373d;
	font-weight: bold; }
	
.widget-table td > .icon-glyph {
	font-size: 1.6rem;
	color: #7d7d7d;
	vertical-align: middle;
	margin-right: 5px; }
	
.widget-table td .tendency {
	font-size: 1.8rem;
	display: block; }
	
.widget-table td .tendency .icon-glyph {
	font-size: 1.4rem;
	display: block; }
	
.widget-table td .tendency.increase {
	color: #ea6576; }
	
.widget-table td .tendency.decrease {
	color: #a67ee9; }

.widget-disk-usage .widget-content {
	padding-top: 0;
	margin-top: -10px; }

.widget-disk-usage .widget-content > div:first-child {
	width: 59%; }

.widget-disk-usage .widget-content > div:last-child {
	width: 40%; }
	
.widget-disk-usage .widget-content > div:last-child > div {
	height: 76px;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	box-sizing: border-box;
	padding: 12px;
	text-align: center; }
	
.widget-disk-usage .widget-content > div:last-child > div h6 {
	font-size: 1.2rem;
	text-align: left;
	margin-bottom: -5px; }
	
.widget-disk-usage .widget-content > div:last-child > div .status-bar {
	display: inline-table;
	margin-top: -10px; }
	
.widget-disk-usage .widget-content > div:last-child > div.db-usage {
	border-bottom: 0; }
	
.widget-disk-usage .widget-content > div:last-child > div.db-usage h6 {
	margin-bottom: 0; }
	
.widget-disk-usage .widget-content > div:last-child > div.db-usage div {
	color: #494949;
	font-size: 2rem;
	vertical-align: middle; }
	
.widget-disk-usage .widget-content > div:last-child > div.db-usage .icon-glyph {
	color: #636466; }

.widget-disk-usage .widget-content > div:first-child {
	position: relative; }
	
#used-disk-percentage-container {
	position: absolute;
	display: table;
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;}

#used-disk-percentage {
	display: table-cell;
	text-align: center;
	vertical-align: middle; 
	font-size: 4rem;
	line-height: 1.2;
	letter-spacing: -0.05em;
	color: #34373d;
	z-index: -1; }
	
#used-disk-percentage:after {
	content: 'Used Disk';
	font-size: 1.5rem;
	line-height: 1;
	letter-spacing: 0;
	display: block; }
	
	

/* Charts
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Tree
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tree {
	border: 1px solid #dbdbdb;
	margin-bottom: 20px; }

.jstree-default .jstree-wholerow-hovered {
	background: #d5d5d5; }

.jstree-default .jstree-wholerow-clicked {
	background: #573592; }

.jstree-anchor.jstree-clicked {
	color: #fff; }




/* Dialog
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dialog {
	display: none; }
	
.dialog .pool,
.dialog .chosen {
	position: absolute;
	width: 46%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box; }
	
.dialog .pool {
	border-right-color: #3b095e; }

.dialog .chosen {
	right: 0;
	border-left-color: #3b095e; }
	
.dialog .buttons {
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6%;
	height: 80px; }
	
.dialog .buttons .button {
	margin: 5px 0; }
	
.dialog .column-title {
	font-size: 1.2rem;
	color: #a0a0a0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle; }
	
.dialog .chosen .column-title {
	color: #573592; }

.user_dialog {
	display: none; }
	
.user_dialog .pool,
.user_dialog .chosen {
	position: absolute;
	width: 46%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box; }
	
.user_dialog .pool {
	border-right-color: #3b095e; }

.user_dialog .chosen {
	right: 0;
	border-left-color: #3b095e; }
	
.user_dialog .buttons {
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6%;
	height: 80px; }
	
.user_dialog .buttons .button {
	margin: 5px 0; }
	
.user_dialog .column-title {
	font-size: 1.2rem;
	color: #a0a0a0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle; }
	
.user_dialog .chosen .column-title {
	color: #573592; }
	
.server_dialog {
	display: none; }
	
.server_dialog .pool,
.server_dialog .chosen {
	position: absolute;
	width: 46%;
	height: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box; }
	
.server_dialog .pool {
	border-right-color: #3b095e; }

.server_dialog .chosen {
	right: 0;
	border-left-color: #3b095e; }
	
.server_dialog .buttons {
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6%;
	height: 80px; }
	
.server_dialog .buttons .button {
	margin: 5px 0; }
	
.server_dialog .column-title {
	font-size: 1.2rem;
	color: #a0a0a0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle; }
	
.server_dialog .chosen .column-title {
	color: #573592; }			
	
.ui-dialog {
	margin: 0;
	padding: 12px 20px 20px 20px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	   -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
			box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	border: 1px solid #d9d9d9; }
	
.ui-dialog .ui-dialog-titlebar {
	background: 0;
	padding: 0;
	margin: 0 0 15px 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radous: 0;
	border: 0;
	border-bottom: 2px solid #3b095e; }
	
.ui-dialog .ui-dialog-title {
	font-size: 1.9rem;
	color: #727579;
	background: 0;
	padding: 5px 0 10px 0;
	margin: 0; }
	
.ui-dialog .ui-dialog-content {
	padding: 0; }

.ui-dialog .button-group {
	margin-top: 30px; }
			
.ui-dialog .button-group,
.ui-dialog .ui-dialog-buttonpane {
	border: 0;
	padding: .5rem;
	text-align: center; }
	
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none; }
	
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5rem; }
	
.ui-dialog span.ui-icon {
    background-image: none;
    text-indent: 0; }
    
.ui-dialog span.ui-icon:after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'glyphicon' !important;
	line-height: 1;
	text-align: center;
	font-weight: normal;
	color: #999;
	font-size: 1.6rem;
	content: '\e91a'; }
	
.ui-widget-overlay {
	opacity: 0.27;
	background-color: #000; }

.dialog-user-group > ul > li > ul > li {
	 padding-left: 30px; }

.dialog-user-group li {
	list-style: none;
	border-top: 1px solid #efefef; }
	
.dialog-user-group > ul > li:first-child {
	border-top: 0; }
	
.dialog-user-group > ul {
	border-bottom: 1px solid #efefef; }

.dialog-data-group > ul > li > ul > li {
	 padding-left: 30px; }

.dialog-data-group li {
	list-style: none;
	border-top: 1px solid #efefef; }
	
.dialog-data-group > ul > li:first-child {
	border-top: 0; }
	
.dialog-data-group > ul {
	border-bottom: 1px solid #efefef; }


/* General user page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Layout */
.general-user {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
  width: 100%;
	max-width: 1280px;
  min-width: 1280px; }
  
.general-user .container,
.general-user .site-header,
.general-user .site-navigation,
.general-user .site-body,
.general-user .site-footer {
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
  width: 100%;
	max-width: 1240px;
  min-width: 1240px; }
  
.general-user .site-navigation .main-menu li {
	width: auto;
	padding-left: 30px;
	padding-right: 30px; }
	
.general-user .page-header {
	margin-top: 40px; }
	
/* Personal stats */
.general-user .personal-stats {
	width: 20%;
	height: 130px;
	-webkit-border-radius: 30px;
		 -moz-border-radius: 30px;
					border-radius: 30px;
	padding: 15px 25px;
	box-sizing: border-box; }
	
.general-user .personal-stats.day {
	background-color: #349c5f; }
	
.general-user .personal-stats.month {
	background-color: #ea6576; }
	
.general-user .personal-stats.method {
	background-color: #8b4964; }

.general-user .personal-stats,
.general-user .personal-stats h5,
.general-user .personal-stats a:hover {
	color: #fff; }
	
.general-user .personal-stats .large-text {
	font-size: 52px;
	line-height: 52px;
	letter-spacing: -5px;
	font-weight: bold; }
	
.general-user .personal-stats .medium-text {
	font-size: 35px;
	line-height: 35px;
	font-weight: bold; }
	
.general-user .personal-stats .small-text {
	font-size: 13px;
	line-height: 13px;
	font-weight: bold; }

.general-user .stats-symbol {
	padding-right: 10px;
	padding-bottom: 10px; }
	
.general-user .stats-symbol .icon-glyph {
	font-size: 70px;
	line-height: 70px;
	vertical-align: top; }
	
.general-user .personal-stats-title {
	font-size: 13px;
	font-weight: normal;
	padding-left: 5px; }
	
.general-user .personal-stats .stats-rate span {
	height: 13px;
	font-size: 13px;
	line-height: 13px;
	vertical-align: middle;
	display: inline-block; }
	
.general-user .personal-stats .stats-rate .number:nth-of-type(3) {
	padding-right: 10px; }
	
.general-user .personal-stats .stats-rate .bar {
	background-color: #fff;
	min-width: 1px;
	max-width: 40px; }
	
.general-user .personal-stats.login {
	background-color: #3e3e3e;
	width: 37%;
	padding: 10px;
	-webkit-border-top-right-radius: 65px;
		 -moz-border-top-right-radius: 65px;
					border-top-right-radius: 65px;
	-webkit-border-bottom-right-radius: 65px;
		 -moz-border-bottom-right-radius: 65px;
					border-bottom-right-radius: 65px; }
					
.general-user .personal-stats.login .stats-content {
	width: 74%;
	box-sizing: border-box;
	padding: 0 30px; }
	
.general-user .personal-stats.login .stats-content legend {
	color: #be9bf8;
	text-align: center;
	font-style: italic;	
	width: 100%;
	position: relative;
	z-index: 10; }
	
.general-user .personal-stats.login .stats-content legend:before {
	position: absolute;
	display: block;
	content: 'OTP 요청';
	height: 20px;
	width: 60px;
	background-color: #3e3e3e;
	top: 0;
	left: 100px;
	z-index: 0; }
	
.general-user .personal-stats.login .stats-content legend:after {
	position: absolute;
	display: block;
	content: '';
	height: 1px;
	width: 100%;
	background-color: #be9bf8;
	top: 10px;
	left: 0;
	z-index: -1; }
	
.general-user .personal-stats.login .stats-content input[type=password],
.general-user .personal-stats.login .stats-content input[type=text] {
	padding: 3px 10px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle; }
	
.general-user .personal-stats.login .stats-content input[type=password] {
	border: 0;
	background-color: #fff;
	width: 80%; }
	
.general-user .personal-stats.login .stats-content input[type=text] {
	width: 99%;
	background-color: #000;
	border: 1px solid #a67ee9;
	margin-top: 5px; }
	
.general-user .personal-stats.login .stats-content input[type=submit] {
	border: 0;
	border-radius: 0;
	height: 28px;
	vertical-align: middle;
	background-color: #a67ee9;
	width: 18%; }
	
.general-user .personal-stats.login .stats-symbol {
	padding-right: 0;
	padding-bottom: 0; }

.general-user .personal-stats.login .stats-symbol .icon-glyph {
	font-size: 110px;
	line-height: 110px;
	vertical-align: top; }
	
	
.marT5{margin-top:5px !important}
.marT10{margin-top:10px !important}
.marT15{margin-top:15px !important}
.marT20{margin-top:20px !important}
.marT25{margin-top:25px !important}
.marT30{margin-top:30px !important}
.marT35{margin-top:35px !important}
.marT40{margin-top:40px !important}
.marT45{margin-top:45px !important}
.marT50{margin-top:50px !important}
.marT55{margin-top:55px !important}
.marT60{margin-top:60px !important}
.marT65{margin-top:65px !important}
.marT0{margin-top:0px !important}
.marL0{margin-left:0px !important}
.marL5{margin-left:5px !important}
.marL10{margin-left:10px !important;}
.marL15{margin-left:15px !important;}
.marL20{margin-left:20px !important;}
.marL25{margin-left:25px !important;}
.marL40{margin-left:40px !important;}
.marL165{margin-left:165px !important;}
.marL250{margin-left:250px !important;}
.marR1{margin-right:1px !important}
.marR5{margin-right:5px !important}
.marR10{margin-right:10px !important}
.marM0{margin-left:0px !important}
.marB0{margin-bottom:0 !important;}
.marB5{margin-bottom:5px !important;}
.marB10{margin-bottom:10px !important;}
.marB15{margin-bottom:15px !important;}
.marB20{margin-bottom:20px !important;}
.marB30{margin-bottom:30px !important;}
.marB40{margin-bottom:40px !important;}

.padL30{padding-left:30px !important}
.padL20{padding-left:20px !important}
.padL22{padding-left:22px !important}
.padL25{padding-left:25px !important}
.padL15{padding-left:15px !important}
.padL10{padding-left:10px}
.padR0{padding-right:0 !important}
.padR5{padding-right:5px}
.padR8{padding-right:8px}
.padR11{padding-right:11px !important}
.padR15{padding-right:15px !important}
.padR20{padding-right:20px !important}
.padR30{padding-right:30px !important}

.padB0{padding-bottom:0 !important}
.padB5{padding-bottom:5px !important}
.padB10{padding-bottom:10px !important}
.padB15{padding-bottom:15px !important}
.padB20{padding-bottom:20px !important}
.padB25{padding-bottom:25px !important}
.padB30{padding-bottom:30px !important}
.padB35{padding-bottom:35px !important}
.padB40{padding-bottom:40px !important}

.f12{font-size:12px !important;}
.f11{font-size:11px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}	